<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" routerLink="/">Artiko</a>

    <!-- Hamburger dugme -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Meni -->
    <div class="navbar-search d-flex align-items-center position-relative">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        (input)="searchUsers()"
        placeholder="Search users..."
        class="form-control me-2"
      />
      <div *ngIf="searchResults.length > 0" class="dropdown-menu show">
        <a
          *ngFor="let user of searchResults"
          class="dropdown-item"
          (click)="clearSearch(user.id)"
        >
          {{ user.username }}
        </a>
      </div>
    </div>
    
    

      <!-- Akcije (Login / Logout) -->
      <ul class="navbar-nav ms-auto">
        <ng-container *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a class="btn btn-primary mx-1" routerLink="/signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-secondary mx-1" routerLink="/login">Login</a>
          </li>
        </ng-container>
       

<ng-container *ngIf="isLoggedIn">
  <li class="nav-item">
    <button
      (click)="logout()"
      class="btn btn-outline-primary mx-2"
    >
      Logout
    </button>
  </li>
  <li class="nav-item">
    <a
      *ngIf="currentUserId"
      class="btn btn-outline-secondary mx-2"
      [routerLink]="['/user', currentUserId]"
    >
      Profile
    </a>
  </li>
</ng-container>
      </ul>
    </div>
</nav>
